@import url(https://fonts.googleapis.com/earlyaccess/cwtexming.css);
body {
  font-size: 1.5rem;
  color: #663F38;
  font-family: 'cwTeXMing';
  font-weight: 600;
}
.wrapper {
  // background: #f3f3f5;
}
.topLine {
  // font-size: 1.5rem;
  // // background: #ffffff;
  // height: 50px;
  // padding: 2rem;
  // border-bottom: 1px solid #ccc;
  padding: 3% 0% 2%
}
.put-right {
  text-align: right;
}

.put-center {
  text-align: center;
}
